---
import Layout from "../layouts/Layout.astro";
import alert from "../assets/Alert.png";
import lochness from "../assets/LochNess.jpg";
import bigfoot from "../assets/Bigfoot.jpg";
import ghost from "../assets/Ghost.jpg";
import banshee from "../assets/banshee.jpg";
import mothman from "../assets/mothman.jpg";
import FileSummary from "../components/FileSummary.astro";
import Section from "../components/Section.astro";
---

<Layout>
  <Section title="Files">
    <p>
      This is a collection of files about specific cryptids, and other
      interesting information.
    </p>
    <div class="flex flex-col gap-y-4">
      <FileSummary
        image={alert}
        title="The Ottawa School File"
        description="In Ottawa, there's a little school that's rumored to be haunted. Many people have seen strange things there. But what!?"
        link="/files/ottawa-school-file"
      />
      <FileSummary
        image={lochness}
        title="The Nessy File"
        description="There is a swamp monster that lives in Loch Ness. We don't know how or why it got there."
        link="/files/nessy-file"
      />
      <FileSummary
        image={bigfoot}
        title="The Bigfoot File"
        description="The big, furry ruler of the woods. We don't know how or why it got there."
        link="/files/bigfoot-file"
      />
      <FileSummary
        image={ghost}
        title="The Ghost File"
        description="Ghosts. Very common in basements. But why?!"
        link="/files/ghost-file"
      />
      <FileSummary
        image={banshee}
        title="The Banshee File"
        description="A wailing spirit from Irish folklore that heralds death with its piercing scream. Known to appear near homes at night."
        link="/files/banshee-file"
      />
      <FileSummary
        image={mothman}
        title="The Mothman File"
        description="A winged cryptid first spotted in Point Pleasant, West Virginia, often associated with disasters and strange phenomena."
        link="/files/mothman"
      />
    </div>
  </Section>
</Layout>
